<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ta.co</title>
        {% include 'header.html' %}
        <link href="http://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


    </head>
    <body>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
        <p>Hello Ta.co</p>
        <p> PLACE: {{ place }} </p>
        <table style="width:100%">
        {% for tup in output %}
            {% with APIKEY=APIKEY %}
            {% with process_map=process_map %}
            {% with bus=tup[0] %}
            {% with loc=tup[1] %}
                {% include 'business.html' %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </table>
    </body>
</html>